- name: Ensure NetworkManager does not manage resolv.conf
  copy:
    dest: /etc/NetworkManager/conf.d/dns-none.conf
    content: |
      [main]
      dns=none
  become: true
  notify: restart networkmanager

- name: Remove existing resolv.conf if symlink
  file:
    path: /etc/resolv.conf
    state: absent
  become: true

- name: Deploy resolv.conf
  template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    owner: root
    group: root
    mode: '0644'
  become: true

handlers:
  - name: restart networkmanager
    service:
      name: NetworkManager
      state: restarted
